.tc{
    background-color: #D6AD60;
    padding: 10px;
    font-size: 20px;
}
.btn1{
    background-color: #D6AD60;
    font-size: large;
    margin: 10px;
}.btn2{
    background-color: #122620;
    color: #F4EBD0;
    font-size: large;
    margin: 5px;
}.btn3{
    background-color: #D6AD60;
    font-size: x-large;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header1{
    padding: 20px;
}.header1 input{
    font-size: large;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
}.header1 button{
    font-size: x-large;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    background-color: #122620;
    color: #F4EBD0;
}
body{
    
    overflow: scroll;
}
.header{
    font-size: x-large;
    float: left;
    text-align: center;
    background-color: #122620;
    color: #F4EBD0;
    height: 50px;
    width: 80%;
}
.map{
    border-radius: 10px;
}
.t{
    height: 32em;
    background-color: white;
}
.e{
    background-color: #D6AD60;
}
table{
    font-size: large;
    background-color: white;
    float: left;
    height: 20em;
    margin: 5px;
    border: 10px solid #122620;
    border-collapse: collapse;
}tr,td{
    padding: 10px;
    border: 5px solid #122620;
}
.ta{
    background-color: #F4EBD0;
    width: 30%;
}
.tb{
    width: 70%;
    width: 20em;
}
.aa{
    float: left;
    width: 70%;
}