
.aa{
    width: 70%;
    float: left;
}
#main1{
    margin: 25px;
    background-color: #F4EBD0;
    width: 550px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 5px solid #122620;
}
.e{
    background-color: #D6AD60;
}
.bb{
    margin:15 0px;
    width: 370px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}.ee{
    margin:15 0px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}
.x{
    margin:15px;
    margin-left: 85px;
    padding:5 50px;
    border: 5px solid #000;
    float: left;
}
.y{
    margin:15px;
    padding:5 50px;
    border: 5px solid #B68D40;
    float: left;
}
button{
    margin: 15px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #B68D40;
    color: #F4EBD0;
    margin: 5px;
}