.aa{
    width: 70%;
    float: left;
}
.h{
    background-color: #D6AD60;
}
.st1{
    padding-top: 5em;
    font-size: x-large;
    background-color: #B68D40;
}td{
    padding: 10px;
}
select{
    font-size: large;
    width: 300px;
    height: 30px;
    }
input{
    font-size: large;
}
        button{
            background-color:  #122620;
            color: #F4EBD0;
        font-size: large;
        width: 200px;
        height: 40px;}