*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e0d1a3;
}.Header1{
    height:300px ;
    width: 1700px;
}
.header1 img{
    width: 500px;
    height: 300px;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
}
#img2{
    margin-left: -400px;
}
#img3{
    margin-left: -400px;
}
#img4{
    margin-left: -400px;
}
#img5{
    margin-left: -400px;
}
#img6{
    margin-left: -400px;
}
#img7{
    margin-left: -400px;
}
#img1:hover{
    margin-right: 400px;
}
#img2:hover{
    margin-right: 400px;
}
#img3:hover{
    margin-right: 400px;
}
#img4:hover{
    margin-right: 400px;
}
#img5:hover{
    margin-right: 400px;
}
#img6:hover{
    margin-right: 400px;
}
.title{
    color: #003525;
    text-align: center;
    font-size: 40px;
}
h2,h5{
    text-align: center;
}
h5{
    color: #00662a;
}
.header{
    height: 100px;
    background-color: #F4EBD0;
    position: fixed;
    width: 100%;
}
.header img{
    height: 90%;
    margin: 5px;
    float: left;
    
}.header h1{
    float: left;
    vertical-align: middle;
    margin-left: 40px;
    color: #122620;
}
.header ul{
    float: right;
    margin-right: 40px;
    font-size: 20px;
    color: #F4EBD0;
}
.header li{
    display: inline;
    padding: 0;
}
.header li a{
    display: inline;
    padding: 15px;
    background-color: #122620;
    color: #F4EBD0;
    text-decoration: none;
}
.header li a:hover{
    background-color: #00662a;
}
.MyDiv{
    width: 500px;
    height: 420px;
    float: left;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    color: #122620;
}
#active{
    background-color: #00662a;
}
.cv{
    border-radius: 10px;
    border: 5px solid #122620;
}
.MyDiv:hover{
    margin-top: 5px;
    margin-bottom: 25px;
}
.MyDiv img{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
